# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/.venv/
backend/.env
backend/__pycache__/
backend/.pytest_cache/
backend/uploads/
backend/*.db

# DB
*.db

# OS & editor junk
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Env
.env
venv/
.venv/

# SRS
*.docx
*.pdf

# Test
/test